<div class= "d-flex align-items-center justify-content-between">
  <%= link_to "Simple Airbnb", flats_path, class:"btn btn-lg"%>
  <%= link_to "Add Flat", new_flat_path, class:"btn btn-outline-primary"%>
</div>
<img src="<%= @flat.image_url %>" class="img-fluid" alt="Responsive image">
<div class="container">
  <div class="card-header">
    <h4 class="card-title"><%= @flat.name %></h4>
    <p class="card-text"><%= @flat.address %></p>
  </div>
  <div class="card-header">
    <h4 class="card-title">A bit more about this flat...</h4>
    <p class="card-text"><%= @flat.description %></p>
  </div>
  <div class="card-header">
    <h4 class="card-title">Book this place</h4>
    <p class="card-text">From</p>
    <p class="card-text">To</p>
    <button type="button" class="btn btn-success">Book</button>
  </div>
  <div class="card-header">
    <h4 class="card-title">Details</h4>
    <div>
    <i class="fa-solid fa-user-group"> <%= @flat.number_of_guests %></i>
    &nbsp&nbsp&nbsp
    <i class="fa-solid fa-euro-sign"> <%= @flat.price_per_night %></i>
    </div>
  </div>
  <div class="card-header">
    <p>Share</p>
    <i class="fa-brands fa-square-facebook"></i>
    <i class="fa-brands fa-square-twitter"></i>
    <i class="fa-brands fa-square-pinterest"></i>
    <i class="fa-solid fa-square-envelope"></i>
  </div>
</div>
